<!DOCTYPE html>
    <html>
        <head>
            <title>Query de las Promesas/Propuestas</title>
            <link rel="Stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/redmond/jquery-ui.css" />
            <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <script type="text/javascript" charset="utf8" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        </head>
        <body>
        <button onclick="window.location = 'reports'">Regresar a la plantilla administrativa</button>
        <br>
            <form action="/bigproms/make" method="get">
                <label for="gestor">Gestor:</label>
                    <select name="gestor" id="gestor">
                        <option value="todos" style="font-size:120%;">todos</option>
                        {% for g in gestores %}
                            <option value="{{ g }}" style="font-size:120%;">{{ g }}</option>
                        {% endfor %}
                    </select>
                <br>
                <label for="cliente">Cliente:</label>
                    <select name="cliente" id="cliente">
                        <option value="todos" style="font-size:120%;">todos</option>
                        {% for c in clientes %}
                            <option value="{{ c }}" style="font-size:120%;">{{ c }}</option>
                        {% endfor %}
                    </select>
                <br>
                <p>HECHO de:
                    <input class="fecha" name="fecha1">
                    &nbsp;
                    a:
                    &nbsp;
                    <input class="fecha" name="fecha2">
                </p>
                <p>VENCIDO de:
                    <input class="fecha" name="fecha3">
                    &nbsp;
                    a:
                    &nbsp;
                    <input class="fecha" name="fecha4">
                </p>
                <label for='visits'>Visitas</label>
                <input type='radio' name='tipo' id='visits' value='visits' /><br>
                <label for='telef'>Telefonica</label>
                <input type='radio' name='tipo' id='telef' value='telef' /><br>
                <label for='todos'>Todos</label>
                <input type='radio' name='tipo' id='todos' value='todos' /><br>
                <input type='submit' name='go' value='Query Prom'>
            </form>
            <script type="text/javascript">
				$(function() {
					$('.fecha').datepicker({ dateFormat: 'yy-mm-dd' });
				});
            </script>
        </body>
    </html>
