<!DOCTYPE HTML>

<html>
<head>
<title>COBRA Carga</title>
</head>
<body>
	{% if (errors is not empty) or (msg is not empty) %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
			{% if msg is not empty %}
            	<li>{{ msg | raw | default() }}</li>
			{% endif %}
		</ul>
    </div>
	{% endif %}
    <button onclick="window.location = '/reports'">Regresar a la
		plantilla administrativa</button>
	<br>
	<form action="{{ url('/carga') }}" method="post" enctype="multipart/form-data"
		name="cargar">
		{{ csrf_field() }}
		<label for="file">Filename:</label>
		<input type="file" name="file" id="file"><br>
		<button type="submit" name="go" value="cargar">Elegir archivo</button>
	</form>
</body>
</html>
