<!DOCTYPE html>
<html>
<head>
    <title>COBRA</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <style type="text/css">
        body {
            text-align: center;
            background-color: #ffffff;
            width: 50em;
            color: #000000;
        }

        div.forma {
            margin-left: 5.5cm;
            font-weight: bold;
        }

        fieldset {
            width: 21em;
            background-color: #c0c0c0;
        }
    </style>
</head>
<body>
<div id="app">
    <h1>COBRA</h1>
    <em>versión 5.0 con Laravel</em>
    <div class="forma">
        <form action="{{ url('/login') }}" method="post" autocomplete="off">
            {{ csrf_field() }}
            <fieldset>
                <div class="username">
                    <label for="iniciales">Usuario:</label>
                    <input type="password" name="iniciales" id="iniciales" value=""
                           onchange="this.value = this.value.replace(/ /g, '');"/>
                    <br>
                </div>
                <div class="contrasena">
                    <label for="password">Contrase&ntilde;a:</label>
                    <input type="password" name="password" id="password" value=""/><br>
                </div>
                <input type="submit" name="go" id="go" value="Empezar"/>
            </fieldset>
        </form>
    </div>
    <p>&nbsp;</p>
    <a href="licencia.txt">
        <cite>&#169;Gregory Miles Blumenthal Scharf 2018</cite>
    </a>
</div>
</body>
</html>