<!DOCTYPE html>
<html>
    <head>
        <title>Query del Inventario</title>
        <style type="text/css">
            body {font-family: arial, helvetica, sans-serif; font-size: 8pt; }
        </style>
    </head>
    <body>
        <button onclick="window.location = '/reports'">Regresar a la plantilla administrativa</button><br>
        <form action="{{ here }}" method="post" name="queryparms">
        	{{ csrf_field() }}
            <label for="cliente">Client:</label>
                <select name="cliente" id="cliente">
                    <option value="todos" style="font-size:120%;">todos</option>
                    {% for c in clientes %}
                        <option value="{{ c.cliente }}" style="font-size:120%;">{{ c.cliente }}</option>
                    {% endfor %}
                </select>
            <br>
            <input type='submit' name='go' value='Query Inventario'>
        </form>
    </body>
</html>
