<!DOCTYPE html>
<html>
<head>
    <title>LOGOUT de COBRA</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
<div id="app">
    <h1>COBRA - LOGOUT</h1>
    <div class="forma">
        <a class="button" href="/logout/Bano">BAÑO</a><br>
        <a class="button" href="/logout/Junta">JUNTA</a><br>
        <a class="button" href="/logout/Break">BREAK</a><br>
        <a class="button" href="/logout/Salir">SALIR</a>
    </div>
</div>
<script src="{{ asset('js/app.js') }}"></script>
<script>
    $(function () {
        $('.button').button();
    });
</script>
</body>
</html>
