<!DOCTYPE html>
<html>
<head>
<title>Sus queues</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.0/themes/redmond/jquery-ui.css"
	type="text/css" media="all" />
<style type="text/css">
    .col { padding: 1em }
    .introb { clear: both }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
	type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
	type="text/javascript"></script>
</head>
<body>
	<h2>{{ msg }}</h2>
	<div>
		<form method='get' action='newqueue' name='queueform'>
			<div style="width: 100%">
				<br>
				<div class="col">
					CLIENTE<br>
					<div id='cliente'></div>
				</div>
				<div class="col">
					SEGMENTO<BR>
					<div id='sdc'></div>
				</div>
				<div class="col">
					QUEUE<BR>
					<div id='queue'></div>
				</div>
				<div class='introb'>
					<input type="submit" name="go" id="intro" value="INTRO">
				</div>
		</form>
	</div>
	</div>
	<div class='introb'>
		<button onclick="window.location = '/resumen'">Cuentas</button>
	</div>
	<script>
            $(function () {
                $("button").button();
                $("#intro").button();
                $("#cliente").empty().css("text-align", "left");
                $("#sdc").empty();
                $("#queue").empty();
                $("body").css("font-size", "10pt").css("text-align", "center");
                $("div").css("float", "left");
                $(".introb").css("clear", "left");
                $.each({{ arrayc|raw }}, function (index, value) {
                    var data = '<div class="column"><input class="columnc" '
                            +'type="radio" name="cliente" value="' + value.cliente 
                            + '" />' + value.cliente + '</div>';
                    $('#cliente').append(data);
                });
                $("#cliente").change(function () {
                    $("#sdc").empty();
                    $("#queue").empty();
                    var data2 = $('input[name=cliente]:checked').val();
                    $.each({{ arrays|raw }}, function (index, sdc) {
                        if (sdc.cliente === data2) {
                            var st = sdc.sdc;
                            if (st === '') {
                                st = 'TODOS';
                            }
                            data3 = '<div class="column"><input class="columns" '
                                    +'type="radio" name="sdc" value="' 
                                    + sdc.sdc + '" />' + st + '</div>';
                            $('#sdc').append(data3);
                        }
                    });
                    $("#sdc").css("text-align", "left");
                });
                $("#sdc").change(function () {
                    $("#queue").empty();
                    var data2 = $('input[name=cliente]:checked').val();
                    var data4 = $('input[name=sdc]:checked').val();
                    $.each({{ arrayq|raw }}, function (index, que) {
                        if ((que.sdc + que.cliente) === (data4 + data2)) {
                            var qt = que.status_aarsa;
                            if (qt === '') {
                                qt = 'TODOS';
                            }
                            data5 = '<div class="column"><input class="columnq" '
                                    +'type="radio" name="queue" value="' 
                                    + que.status_aarsa + '" />' + qt + '</div>';
                            $('#queue').append(data5);
                        }
                    });
                    $("#queue").css("text-align", "left");
                });
            });
        </script>
</body>
</html>
