<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cobra Administraci&oacute;n</title>
        <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body>
        <div data-role="page" id='Administracion'>
            <div data-role="header">
                <div data-role="navbar">
                    <UL>
                        <LI><A href="#Administracion" class="ui-btn-active">Administraci&oacute;n</A></LI>
                        <LI><A href="#Generales">Reportes Generales</A></LI>
                    </UL>
                </div>
            </div>
            <div data-role="collapsible">
                <h2>Cargar</h2>
                <button onclick="window.location = '/carga'">Cargar Cartera</button>
                <button onclick="window.location = '/pagobulk'">Cargar Pagos</button>
            </div>
            <div data-role="collapsible">
                <h2>Visitar</h2>
                <button onclick="window.location = '/checkout'">Asignar Visitas</button>
                <button onclick="window.location = '/checkin'">Recibir Visitas</button>
            </div>
            <div data-role="collapsible">
                <h2>Administrar</h2>
                <button onclick="window.location = '/gestoradmin'">Administrar Acesso</button>
                <button onclick="window.location = '/breakadmin'">Administrar Breaks</button>
                <button onclick="window.location = '/queues'">Administrar Queues</button>
                <button onclick="window.location = '/notadmin'">Administrar Notas</button>
                <button onclick="window.location = '/segmento'">Administrar Segmentos</button>
                <button onclick="window.location = '/changest'">Cambiar Status de Credito</button>
                <button onclick="window.location = '/inactivar'">Inactivar Cuentas</button>
                <button onclick="window.location = '/queuemanual'">Cargar Queue MANUAL</button>
                <button onclick="window.location = '/reporteManual'">Reporte Queue MANUAL</button>
            </div>
            <div data-role="footer">
                <button onclick="window.location = '/quick'">Tiempo Real</button>
                <button onclick="window.location = '/resumen'">Las Cuentas</button>
                <button onclick="window.location = '/logout'">LOGOUT</button>
            </div>
        </div>
        <div data-role="page" id='Generales'>
            <div data-role="header">
                <div data-role="navbar">
                    <UL>
                        <LI><A href="#Administracion">Administraci&oacute;n</A></LI>
                        <LI><A href="#Generales" class="ui-btn-active">Reportes Generales</A></LI>
                    </UL>
                </div>
            </div>
            <div data-role="collapsible">
                <h2>Estatus de cuentas</h2>
                <button onclick="window.location = '/queuesqc'">Queues por Cliente</button>
                <button onclick="window.location = '/ultimo_mejor'">Ultimo y Mejor Status</button>
            </div>
            <div data-role="collapsible">
                <h2>Promesas y Pagos</h2>
                <button onclick="window.location = '/rotas'">Promesas del Mes Actual</button>
                <button onclick="window.location = '/pagosum'">Pagos por Cliente</button>
                <button onclick="window.location = '/pagodet'">Pagos este mes (XLSX)</button>
            </div>
            <div data-role="collapsible">
                <h2>Recursos Humanos</h2>
                <button onclick="window.location = '/horarios'">Productividad este Mes</button>
                <button onclick="window.location = '/perfmes'">Productividad Mes Anterior</button>
                <button onclick="window.location = '/horariosv'">Productividad Visit. este Mes</button>
                <button onclick="window.location = '/perfmesv'">Productividad Visit. Mes Ant.</button>
                <button onclick="window.location = '/horario'">Solo uno Empleo</button><br>
            </div>
            <div data-role="collapsible">
                <h2>Gestiones y Inventarios de Deascargar</h2>
                <button onclick="window.location = '/bigquery'">Query de las Gestiones XLSX</button>
                <button onclick="window.location = '/bigproms'">Query de las Promesas XLSX</button>
                <button onclick="window.location = '/inventario'">Query del Inventario XLSX</button>
                <button onclick="window.location = '/inventarioRapid'">Query del Inventario Rapido XLSX</button>
                <button onclick="window.location = '/intensidad'">Query del Intensidad XLSX</button>
            </div>
            <div data-role="collapsible">
                <h2>Miscelánea</h2>
                <button onclick="window.location = '/comparativo'">Comparativo de 3 meses HTML</button><br>
                <button onclick="window.location = '/contactados'">Reporte de Tel&eacute;fonos Contactados XLS</button>
                <button onclick="window.location = '/marcados'">Reporte de Tel&eacute;fonos Marcados XLS</button>
            </div>
        </div>
        <div data-role="footer">
            <button onclick="window.location = '/quick'">Tiempo Real</button>
            <button onclick="window.location = '/resumen'">Las Cuentas</button>
            <button onclick="window.location = '/logout'">LOGOUT</button><br>
        </div>
    </body>
</html>
